<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>Loops</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href='/'>Home</a> </li>
            <li> <a href='/loops'>Loops</a> </li>
            <li> <a href='/operators'>Operators</a> </li>
        </ul>
    </nav>  
    <h1>Here is the information about loops for all the loop lovers!</h1>
    <table border = 1>
    {% for retrieved_loop in retrieved_loops %}
        {% for key, value in retrieved_loop.items() %}
                <tr>
                    <th> {{ key }} </th> 
                <td> {{ value }} </td>
              </tr>
           
        {% endfor %}
        <!-- {{ retrieved_loop['name']}} -->
    {% endfor %}
      </table>
    <hr/>
</body>
</html>