{% extends 'base.html' %}
{% block title %}
<title> Loops Flask Mongo DB practice</title>
{% endblock %}

{% block content %}
    <h1>Here is the information about loops for all the loop lovers!</h1>
    <table border = 1>
        {% for retrieved_loop in retrieved_loops %}
            {% for key, value in retrieved_loop.items() %}
                    <tr>
                        <th> {{ key }} </th> 
                         <td> {{ value }} </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <hr/>
{% endblock %}    
