<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>Operators</title>
</head>
<body>
    <h1>Here is the information about operators for all the Operator lovers!</h1>
    <table border = 1>
    {% for retrived_operator in retrived_operators %}
        {% for key, value in retrived_operator.items() %}
             <tr>
                <th> {{ key }} </th> 
                <td> {{ value }} </td>
              </tr>
            
        {% endfor %}
           
    {% endfor %}
      </table>
 

    <form   method = "post">  
        <p>Enter a new operator:</p>
        <p>
            <label for="name">Name:</label>
            <input type = "text" name = "name" required/>
        </p>   
        <p>    
            <label for="description">Description:</label>
            <input type = "text" name = "description" required/>
        </p>
        <p>
            <label for="symbol">Symbol:</label>
            <input type = "text" name = "symbol" required/>
        </p>
        <p>
            <label for="example">Example:</label>
            <input type = "text" name = "example" />
        </p>
        <p>    
            <label for="uses">Uses:</label>
            <input type = "text" name = "uses" />    
        </p>
        <p>   <input type = "submit" value = "submit" /> </p>
      
     </form>
</body>
</html>